<mat-card>
    <mat-card-header>
        <mat-toolbar>Detalhes do Curso</mat-toolbar>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="form" class="min-width">
            <!--Name Column-->
            <mat-form-field class="full-width">
                <input matInput placeholder="Nome" formControlName="name">
            </mat-form-field>
        
            <!--Ctaegory Column-->
            <mat-form-field class="full-width">
                <mat-label>Categoria</mat-label>
                <mat-select formControlName="category">
                    <mat-option *ngFor="let category of categories" [value]="category.value">
                        {{category.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </form>
    </mat-card-content>

    <mat-card-actions>
        <button mat-raised-button class="btn-save" (click)="onSubmit()">Salvar</button>
        <button mat-raised-button class="btn-cancel" (click)="onCancel()">Cancelar</button>
    </mat-card-actions>
</mat-card>