table {
    width: 100%;
}

mat-card {
    display: flex;
    padding: 16px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.213);
    border-radius: 4px;
    background-color: white;
}

table {
    width: 100%;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.213);
    background-color: white;
}