@use '@angular/material' as mat;

@include mat.core();

html {
  @include mat.theme((
    color: (
      primary: mat.$blue-palette,
      accent: mat.$green-palette,
      warn: mat.$red-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  color-scheme: light;
  background-color: white;
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

:root {
  @include mat.toolbar-overrides((
    container-background-color: #2196F3,
    container-text-color: White,
  ));
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }