@use '@angular/material' as mat;

@include mat.core();

$theme: mat.define-theme(());

html {
  @include mat.all-component-themes($theme);

  height: 100%;
  color-scheme: light;
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
}

:root {
  @include mat.toolbar-overrides((
    container-background-color: #2196F3,
    container-text-color: White,
  ));
}

body { 
  height: 100%;
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
}

::ng-deep body,
::ng-deep .mat-app-background {
  background-color: white !important;
}

.mat-mdc-progress-spinner circle,
.mat-mdc-spinner circle {
  stroke: #2196F3 !important;
}

mat-card {
  display: flex;
  padding: 16px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.213);
  border-radius: 4px;
  background-color: white !important;
  text-align: center;
}